<br/>
<div [formGroup]="signUpForm" class="container" (ngSubmit)="onSubmit()"> 
    <form>
        <i class="fa fa-sign-in fa-5x" aria-hidden="true"></i>
        <h1>Sign Up</h1>
      <div *ngIf="success" class="alert alert-success">
        Registered Successfully :)
      </div>
      <div *ngIf="error" class="alert alert-danger">
        {{error.error}}
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div *ngIf="(name()!.touched&&name()!.invalid)" class="alert alert-danger">
        <div *ngIf="name()!.errors!.required"> *Required</div> 
        <div *ngIf="name()!.errors!.pattern ">Enter valid name</div>                  
      </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" formControlName="email" >          
        </div>
        <div *ngIf="email()!.pending">
            <i class="fa fa-spinner" aria-hidden="true"></i>
        </div>
        
        <div *ngIf="email()!.dirty&&email()!.errors" class="alert alert-danger">
            <div *ngIf="email()!.touched&&email()!.errors!.required"> *Required</div> 
        <div *ngIf="email()!.touched&&email()!.errors!.email">Enter valid email </div> 
        <div *ngIf="email()!.errors&&email()!.errors!.existingEmail" >Given Email Id is already registered!!</div>
      </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div *ngIf="(password()!.touched&&password()!.invalid)" class="alert alert-danger">
            <div *ngIf="password()!.errors!.pattern">Password should contains: <br/>At least 8 characters in length
                <br/>Lowercase letters
                <br/>Uppercase letters
               <br/> Numbers Special characters</div>
               <div *ngIf="password()!.errors!.required">*Required</div>
      </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
        </div>
        <div *ngIf="(confirmPassword()!.touched&&confirmPassword()!.invalid)" class="alert alert-danger">
            <div *ngIf="confirmPassword()!.errors!.required">*Required</div>
            <div *ngIf="confirmPassword()!.errors!.mustMatch">Password and ConfirmPassword must be same</div>
      </div>
        <div class="mb-3">
            <label for="typeOfUser" class="form-label">Type of User</label><br/>
            <select id="typeOfUser" class="form-select" formControlName="typeOfUser" >
                <option value="">Select</option>
              <option value=false>Parking Zone Assistant</option>
              <option value=true>Booking Counter Agent</option>
            </select>
          </div>
          <div *ngIf="(typeOfUser()!.touched&&typeOfUser()!.invalid)" class="alert alert-danger">
            <div *ngIf="typeOfUser()!.errors!.required">*Required<br/>Select one of type of user</div>
      </div>
        <button type="submit"  [disabled]="!signUpForm.valid" class="btn btn-primary">Sign Up</button>
      </form>
</div>