<div class="container-fluid">
    <div class="row dashboard">
      <div class="col-8">
        <div *ngIf="userInfo?.typeOfUser; else elseBlock">
          <h3>Parking Agent Counter DashBoard</h3>
        </div>
        <ng-template #elseBlock>
          <h3>Parking Zone Assistant DashBoard</h3>
        </ng-template>
      </div>
      <div class="col">
        <div class="dropdown">
            <button class="dropbtn">Sort By</button>
            <div *ngFor="let zone of parkingZones" class="dropdown-content">
             <a (click)="onZoneClick(zone)">{{zone.parkingZoneTitle}}</a>                    
            </div>
          </div>
      </div>
      <div  class="col">
      <button [disabled]="!userInfo?.typeOfUser" class="btn btn-danger" (click)="onResetClick()">Reset</button>
      </div>
    </div>
    <div class="row">
        <div class="col-8">  
            <div class="container">
                <div class="row">
                    <div *ngFor=" let space of parkingSpaces" class="col-sm extra-margin">
                        <app-card [spaceInfo]="space"></app-card>
                    </div>
                </div>
            </div>
         </div>  
         <div  class="col">
           <h1 class="margin">Parking Zone Report</h1>
           <label for="reportdate">Date :</label>
           <input #date type="date" id="reportdate"  class="date" required>
           <button class="btn btn-success" (click)="onReportClick(date.value)">Get Report</button>
           <div *ngFor="let report of parkingReport">
            <app-parkingreport [zoneReport]="report"></app-parkingreport>
           </div>
           
        </div> 
    </div>
  </div>

 